<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      form{
        font-size:30px;
      }
    </style>
  </head>
  <body>
  <div class="conatiner" align="center">
      <h1>1. In which place do we have to add the appliaction in the project?</h1>
      <form action="/second">

            1.<input type="radio" id="setting" name="p1" value="settings">
            <label for="settings">settings</label><br><br>
            2.<input type="radio" id="application" name="p1" value="appliaction">
            <label for="application">appliaction</label><br><br>
            3.<input type="radio" id="Templates" name="p1" value="Templates">
            <label for="Templates">Templates</label><br><br>
            4.<input type="radio" id="Urls" name="p1" value="Urls">
            <label for="Urls">Urls</label><br><br>

        <input type="submit" class="btn btn-primary" name="submit" value="Next >>">

      </form>

  </div>
    </body>
</html>
