<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      form{
        font-size:30px;
      }
    </style>
  </head>
  <body>
  <div class="conatiner" align="center">
      <h1>2. which of the following store cookies?</h1>
      <form action="/third" >
        1.<input type="radio" id="server" name="p2" value="server">&nbsp
        <label for="server">Server</label><br><br>
        2.<input type="radio" id="client" name="p2" value="client">&nbsp
        <label for="client">client</label><br><br>
        3.<input type="radio" id="application" name="p2" value="application">&nbsp
        <label for="application">appliaction</label><br><br>
        4.<input type="radio" id="project" name="p2" value="project">&nbsp
        <label for="project">project</label><br><br>
        <input type="submit" class="btn btn-primary" name="submit" value="Next>>">
      </form>
    </div>
    </body>
</html>
