<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      form{
        font-size:30px;
      }
    </style>
  </head>
  <body>
  <div class="conatiner" align="center">
      <h1>3. How many cookies does server will send to client</h1>
      <form action="/result">

            1.<input type="radio" id="one" name="p3" value="one"><label for="one">one</label><br><br>
            2.<input type="radio" id="two" name="p3" value="two"><label for="two">two</label><br><br>
            3.<input type="radio" id="nmultiple" name="p3" value="multiple"><label for="multiple">multiple</label><br><br>
            4.<input type="radio" id="none" name="p3" value="none"><label for="none">none</label><br><br>

        <input type="submit" class="btn btn-primary" name="submit" value="Next>>">
      </form>

  </div>
    </body>
</html>
